# Node modules
**/node_modules

# Build files
**/dist
**/build

# Environment variables
**/.env

# IDE/editor settings
.idea/
.vscode/

# Logs
*.log

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
