# === Node.js backend ===
backend/node_modules/
backend/.env
backend/dist/

# === Vite + React frontend ===
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vitepress/
frontend/.cache/

# === VS Code settings ===
.vscode/

# === JetBrains IDEs (如 WebStorm, IntelliJ, PhpStorm) ===
.idea/
